{% extends 'Guitarguitar/Base.html' %}
{% load static %}

{% block title_block %}
    Compare
{% endblock %}

{% block script_block %}
{% endblock %}

{% block body_block %}
<div class="header1">
    Compare 2 products
</div>

<!-- <div class="ProductTypeSelect">
    <form method="get" id="productTypeForm">
        <label for="productTypeSelect">Please select a product type</label>
        <select name="type" id="productTypeSelect" onchange="this.form.submit()">
            <option value="">-- All Types --</option>
            {% for productType in types %}
                <option value="{{ productType.id }}">
                    {% if request.GET.type == productType.id|stringformat:"s" %}selected{% endif %}>
                    {{ productType.type }}
                </option>
            {% endfor %}
        </select>
    </form>
</div> -->

<div class="products">
    {% if products%}
        {% for product in products %}
            <div class="product-card">
                <div class="product-image">
                    <img src="{{ product.pictureMain.url }}" alt="{{ product.itemName }}">
                </div>
                <div class="product-info">
                    <h2>{{ product.itemName }}</h2>
                    <div class="rating">
                        {% if product.rating %}
                            <span>Rating: {{ product.rating|floatformat:2 }}</span>
                        {% else %}
                            <span>No ratings yet</span>
                        {% endif %}
                    </div>
                    <p>Price: £{{ product.SalesPrice }}</p>
                    <p>Colour: {{ product.colour }}</p>
                    <p>Body Shape: {{ product.BodyShape }}</p>
                    <p>Quantity in stock: {{ product.qtyInStock }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No products available for this type.</p><br>
        <p>Here is a list of all our products</p>
        {% for product in guitars %}
            <div class="product-card">
                <div class="product-image">
                    <img src="{{ product.pictureMain.url }}" alt="{{ product.itemName }}">
                </div>
                <div class="product-info">
                    <h2>{{ product.itemName }}</h2>
                    <div class="rating">
                        {% if product.rating %}
                            <span>Rating: {{ product.rating|floatformat:2 }}</span>
                        {% else %}
                            <span>No ratings yet</span>
                        {% endif %}
                    </div>
                    <p>Price: £{{ product.SalesPrice }}</p>
                    <p>Colour: {{ product.colour }}</p>
                    <p>Body Shape: {{ product.BodyShape }}</p>
                    <p>Quantity in stock: {{ product.qtyInStock }}</p>
                </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
