{% extends 'Guitarguitar/Base.html' %}
{% load static %}

{% block title_block %}
    Compare
{% endblock %}

{% block css_block %}
{% endblock %}

{% block script_block %}
<script src="{% static 'javascript/productTypes.js' %}" defer></script>
{% endblock %}

{% block body_block %}
<div class="header1">
    Compare 2 products
</div>

<div class="Dsiplay products">
    {% comment %} Display each product the user has selected (1, 2, or none) {% endcomment %}

    <div class="ProductTypeSelect">
        Please select a product type
    <form method="get" id="productTypeForm">
        <label for="productTypeSelect">Please select a product type</label>
        <select name="type" id="productTypeSelect" onchange="this.form.submit()">
            <option value="">-- All Types --</option>
            {% for productType in types %}
                <option value="{{ productType.id }}">
                    {% if request.GET.type = productType.id|stringformat:"s" %}selected{% endif %}>
                    {{ productType.type }}
                </option>
            {% endfor %}
        </select>
    </form>
    </div>
    <div class="products">
        {% for product in products %}
            <div class="product-card">
                <div class="product-image">
                    <img src="{{ product.pictureMain }}" alt="{{ product.itemName }}">
                </div>
                <div class="product-info">
                    <h2>{{ product.itemName }}</h2>
                    <div class="rating">
                        {% if product.rating %}
                            <span>Rating: {{ product.rating|floatformat:2 }}</span>
                        {% else %}
                            <span>No ratings yet</span>
                        {% endif %}
                    </div>
                    <p>Price: {{ product.SalesPrice }}</p>
                    <p>colour: {{ product.colour }}</p>
                    <p>Body Shape: {{ product.BodyShape }}</p>
                    <p>Quantity in stock: {{ product.qtyInStock }}</p>
                </div>
            </div>
        {% endfor %}
    </div>




    <!-- {% for product in Products %}
    {% comment %} if selected product is same as 
        {% if %} -->
</div>
{% endblock %}
