{% block title %}Guitar Comparison{% endblock %}

{% block content %}
    <div class="search-container">
        <form method="get" class="search_form">
            <input type="text"
                   name="artist1" 
                   class="search-input"
                   placeholder="Artist 1"
                   value="{{ artist1 }}"
                   autofocus>
     
            <input type="text"
                   name="artist2" 
                   class="search-input"
                   placeholder="Artist 2"
                   value="{{ artist2 }}"
                   autofocus>
      
            <input type="text"
                   name="artist3" 
                   class="search-input"
                   placeholder="Artist 3"
                   value="{{ artist3 }}"
                   autofocus>
            <button type="submit" class="search-button">Submit</button>
       </form>
    </div>
{% endblock %}
