{% block title %}Guitar Comparison{% endblock %}
{% load static %}
{% block css_block %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}
{% block content %}
    <div class="search-container">
        <form method="get" class="search_form">
        <label>Enter Artists</label>
            <div id="input-container">
            <input type="text"
                   name="artist1" 
                   class="search-input"
                   placeholder="Artist 1"
                   value="{{ artist1 }}" 
                   class="inputs"
                   autofocus>
                   <br>
            <input type="text"
                   name="artist2" 
                   class="search-input"
                   placeholder="Artist 2"
                   value="{{ artist2 }}" 
                   class="inputs"
                   autofocus>
                   <br>
            <input type="text"
                   name="artist3" 
                   class="search-input"
                   placeholder="Artist 3"
                   value="{{ artist3 }}" 
                   class="inputs"
                   autofocus>
        <div id="Submit">
            <button type="submit" id="submitButton">submit</button>
        </div>
            </div>
        </form>
    </div>
{% endblock %}
