body {
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #252D3A;
    border-left: 10px solid #364255;
    border-right: 10px solid #364255;
    border-bottom: 15px solid #364255;
}

.guitarComparison { 
    border-radius: 25px;
    text-shadow: 2px 2px #1A1818;
    color: #E85D04;
    background-color: #292524;
    text-align: center;
}

p {
    font-size: 300%;
}

label {
    font-size: 250%;
}

.box {
    border-top: 10px solid #364255;
    margin-top: 4%;
    width: 100%;
    height: 2.5%;
    background-color: #E85D04;
}

.label { 
    display: flex;
    justify-content: center;
    border: 5px solid #364255;
    margin: auto;
    background-color: #e3c3a3;
    color: #364255;
    text-align: center;
    height: 9vh;
    width: 100%;
}

.search-container {
    position:absolute;
    width: 80%;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputs {
    height: 4vh;
    text-align: center;
    border: none;
    background-color: #364255;
    margin-bottom: 2%;
    width: 100%;
    color: #e3c3a3;
}

.input-container {
    padding-top: 2%;
    width: 100%;
    border:red;
}

.Submit {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    
}

#submitButton {
    width: 30%;
    height: 5vh;
    background-color: #E85D04;
    border: 1px solid white;
}

#submitButton:hover {
    background-color: #894526;
}
