body {
}

.search-container {
    position:absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-container {
    border:red;
}

#Submit {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    
}